* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    list-style: none;
}

header {
    width: 100%;
    height: 90px;
    background-color: #541554;
    display: flex;
    align-items: center;
}

.nav-left {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 110px;
    height: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

img {
    width: 100%;
}

.menu ul li {
    width: 100px;
    height: 30px;
    list-style: none;
    float: left;
}

.menu ul li a {
    font-size: 14px;
    color: white;
    font-weight: 600;
    line-height: 30px;
    color: white;
}

.menu ul li a:hover {
    border-bottom: 1px solid white;
    padding: 5px;
    padding: 0;
}

.sub-menu ul {
    padding-top: 10px;
    width: 160px;
    height: 180px;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
    box-shadow: 12px 8px 2px 1px rgb(234, 228, 228);
}

.sub-menu ul li {
    background-color: white;
    padding-left: 9px;
    width: 100%;
}

.sub-menu ul li a {
    color: black;
    display: block;
    position: sticky;
}

.menu ul li:hover .sub-menu ul {
    display: block;
}

.sub-menu ul li:hover {
    background-color: #4285f4;
}
.sub-menu ul li:hover a{
    color: white;
}
.bar{
    font-size: 22px;
    color: white;
    display: none;
}


/* ----------------------- */
.nav-right {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.btn-sales {
    width: 150px;
    height: 40px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-free {
    width: 150px;
    height: 40px;
    background: white;
    color: #541554;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.in{
    color: white;
}

/* ----------------------------------- */
.body-part {
    width: 100%;
    background-color: #541554;
    padding: 10px;
}

.body-container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 20px;
}

.people {
    width: 45%;
}

.people h1 {
    font-size: 55px;
    color: white;
}

.people h1 span {
    color: orange;
    display: block;
}

.people p {
    font-size: 22px;
    color: white;
    padding-top: 10px;
    line-height: 28px;
}

.email {
    width: 240px;
    height: 55px;
    background-color: white;
    color: #541554;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid white;
    margin-right: 10px;
    cursor: pointer;
}

.both-btn {
    margin-top: 20px;
    display: flex;
    cursor: pointer;
}

.google-btn {
    width: 240px;
    height: 55px;
    background-color: #4285f4;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid white;
    border: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.g-logo {
    width: 55px;
    height: 45px;
    margin: 5px;
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.g-logo img {
    width: 50%;
}

.google {
    width: 100%;
    height: 55px;
    background-color: #4285f4;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid white;
    border: none;
    cursor: pointer;
}

.video {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

.video video {
    width: 100%;
}


/* -------------------------------- */
.part2 {
    width: 100%;
    background-color: #f4ede4;
    padding: 10px;
}

.part2 h4 {
    padding: 15px;
    text-align: center;
}

.sponsers {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.logo1 {
    width: 100px;
    height: 40px;
}

.logo1 img {
    width: 100%;
}

.logo2 {
    width: 50px;
    height: 50px;
}

.logo2 img {
    width: 100%;
}

.logo3 {
    width: 150px;
    height: 40px;
}

.logo3 img {
    width: 100%;
}

.logo4 {
    width: 120px;
    height: 40px;
}

.logo4 img {
    width: 100%;
}

.logo5 {
    width: 100px;
    height: 40px;
}

.logo5 img {
    width: 100%;
}

.logo6 {
    width: 150px;
    height: 40px;
}

.logo6 img {
    width: 100%;
}

/* ---------------------------------------------- */
.part3 {
    padding: 20px 0;
    width: 100%;
    background-color: #f4ede4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.semi-circle1 {
    width: 45%;
    display: flex;
    align-items: center;
}

.semi-circle1 video {
    width: 100%;
}

.part3-right {
    width: 50%;
    padding: 0 20px;
}

.part3-right h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.part3-right p {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
}

.part3-right a {
    font-size: 18px;
    color: #4564a3;
}

.part3-right a:hover {
    border-bottom: 2px solid #4564a3;
    padding-bottom: 5px;
    animation: line 1s ease-out 0s 1 normal;
    transition: 0.3s;
}

/* -------------------- */
.part4 {
    width: 100%;
    background-color: #f4ede4;
    display: flex;
    align-items: center;
}

.part4-left {
    width: 50%;
    margin: 40px;
    padding-left: 30px;
}

.part4 h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.part4 p {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
}

.part4 a {
    font-size: 18px;
    color: #4564a3;
}

.part4 a:hover {
    border-bottom: 2px solid #4564a3;
    padding-bottom: 5px;
    animation: line 1s ease-out 0s 1 normal;
}

.part4-right {
    width: 50%;
    padding-left: 30px;
}

.semi-circle2 {
    width: 100%;
    display: flex;
    align-items: center;
}

.semi-circle2 video {
    width: 100%;
}


/* -------------------------- */
.part5 {
    width: 100%;
    background-color: #ffffff;
}

.part5 h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

.part5 p {
    margin-top: 15px;
    font-size: 18px;
    text-align: center;
}

.part5-btn {
    margin: 0 auto;
    width: 50%;
    gap: 10px;
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.meet {
    width: 300px;
    height: 50px;
    background-color: #541554;
    color: white;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.talk {
    width: 180px;
    height: 50px;
    background-color: white;
    color: #541554;
    border-radius: 8px;
    border: 1px solid #541554;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.percent-container {
    width: 100%;
    margin: 80px auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.first,
.second,
.third {
    width: 200px;
}

.first h1 {
    font-size: 60px;
    color: #541554;
}

.second h1 {
    font-size: 60px;
    color: #541554;
}

.third h1 {
    font-size: 60px;
    color: #541554;
}

/* ---------------------------- */
.part6-outer {
    background-color: #ffffff;
}

.part6 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.part6-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.part6-left video {
    width: 90%;
    border-top-right-radius: 20% 50%;
    border-bottom-right-radius: 20% 50%;
}

.part6-right {
    width: 45%;
}

.part6-right p {
    font-size: 26px;
    font-weight: 200;
    line-height: 35px;
    font-style: italic;
    margin-bottom: 20px;
}

.director span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 100px;
}

.director p {
    font-size: 15px;
}

.part6-right a {
    font-size: 18px;
    color: #4564a3;
}

.part6-right a:hover {
    border-bottom: 2px solid #4564a3;
}

.disclaimer {
    margin: 30px 30px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}

/* ----------------------- */

.part7 {
    width: 100%;
    background-color: #f4ede4;
    padding: 20px;
}

.part7 h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 32px;
    color: black;
}

.part7-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 10px; */
    flex-wrap: wrap;
}

.part7-box1 {
    width: 240px;
    height: 400px;
    background-color: white;
    padding: 12px;
    position: relative;
}

.box-A p {
    margin-top: 20px;
    color: grey;
    font-size: 14px;
}

.box-A h1 {
    padding: 0;
    font-size: 22px;
    color: black;
    text-align: left;
}

.bottom {
    width: 90%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    bottom: 12px;
    position: absolute;
    color: #4564a3;
}

.part7-box1:hover {
    width: 240px;
    height: 415px;
}

/* ----------------- */
.curve {
    width: 100%;
    background-color: #541554;
    border-bottom-left-radius: 500px 30%;
    border-bottom-right-radius: 500px 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.curve h1 {
    padding-top: 30px;
    margin: 30px auto;
    width: 80%;
    font-size: 40px;
    color: white;
    text-align: center;
}

.curve-btn-sales {
    width: 150px;
    height: 40px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.curve-btn-free {
    width: 150px;
    height: 40px;
    background: white;
    color: #541554;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}




.part8 {
    width: 100%;
    padding-top: 30px;
}

.part8-container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.part8-box1 {
    width: 15%;
}

.part8-logo {
    width: 40%;
}

.part8-box2 {
    width: 15%;
}

.part8-box2 ul li {
    padding-top: 25px;
}

.part8-box3 {
    width: 15%;
}

.part8-box3 ul li {
    padding-top: 25px;
}

.part8-box4 {
    width: 15%;
}

.part8-box4 ul li {
    padding-top: 25px;
}

.part8-box5 {
    width: 15%;
}

.part8-box5 ul li {
    padding-top: 25px;
}

.part8-box6 {
    width: 15%;
}

.part8-box6 ul li {
    padding-top: 25px;
}

/* ---------------------------- */
footer{
    width: 90%;
    margin: 0 auto;
}
.rule{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 75%;
}
.footer-right{
    width: 25%;
}

.footer-left ul {
    display: flex;
}

.footer ul li {
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
}

footer p {
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 30px;
}

.media{
    display: flex;
    justify-content: space-between;
}

.download i{
    font-size: 15px;
    color: #4564a3;
}
.download span{
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #4564a3;
    margin-right: 25px;
}


/* ------Mediaquery----------------------- */

@media screen and (max-width:600px) {
    .bar{
        display: block;
    }
    .menu{
        display: none;
    }
    .nav-right{
        width: 100px;
        padding: 0;
    }
    .btn-sales,.btn-free{
        display: none;
    }

    .body-container {
        flex-direction: column;
    }

    .people {
        width: 90%;
        text-align: center;
    }

    .people h1 {
        font-size: 40px;
    }

    .people p {
        font-size: 18px;
    }

    .video {
        width: 450px;
        margin-top: 20px;
    }

    .both-btn {
        flex-direction: column;
        gap: 10px;
        margin-top: 40px;
    }

    .email {
        width: 100%;
    }

    .google-btn {
        width: 100%;
    }

    .sponsers {
        flex-wrap: wrap;
        gap: 20px;
    }

    .part3 {
        flex-direction: column;
    }

    .semi-circle1 {
        width: 100%;
    }

    .semi-circle1 video {
        width: 90%;
    }

    .part3-right {
        width: 90%;
    }

    .part3-right h1 {
        font-size: 30px;
    }

    .part3-right p {
        font-size: 18px;
    }

    .part4 {
        flex-direction: column-reverse;
        padding-top: 30px;
    }

    .part4-left {
        width: 90%;
    }

    .part4-left h1 {
        font-size: 30px;
    }

    .part4-left p {
        font-size: 18px;
    }

    .part4-right {
        width: 90%;
    }

    .part5 {
        margin: 0 auto;
        width: 90%;
    }

    .part5 h1 {
        font-size: 28px;
    }

    .part5-btn {
        flex-direction: column;
        width: 90%;
    }

    .meet {
        width: 100%;
    }

    .talk {
        width: 100%;
    }

    .percent-container {
        margin: 30px 0;
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
    }

    .first,
    .second,
    .third {
        width: 60%;
    }

    .part6 {
        flex-direction: column;
    }

    .part6-left {
        width: 100%;
    }

    .part6-right {
        width: 80%;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    .part7-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .part7 h1 {
        font-size: 25px;

    }

    .part7-box1 {
        width: 200px;
    }

    .part7-box1:hover {
        width: 210px;
    }
  
    .curve h1 {
        font-size: 30px;
    }

   .curve-btn{
        width: 90%;
    }
    .curve-btn-free{
        width: 100%;
        margin-bottom: 20px;
    }
    .curve-btn-sales{
        width: 100%;
    }

    .part8-container {
        flex-wrap: wrap;
        width: 100%;
    }

    .part8-box1 {
        width: 100%;
    }

    .part8-logo {
        width: 13%;
        margin: 15px 15px;
    }

    .part8 h5 {
        font-size: 13px;
    }

    .part8 ul li {
        font-size: 13px;
    }

    footer {
        width: 90%;
    }
    .footer{
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
    }

    .footer ul li {
        margin-bottom: 20px;
    }
    .footer-right{
        width: 90%;
    }

}

/* ------------------------------------------------- */
@media screen and (max-width:768px) {
    .bar{
        display: block;
    }

    .menu{
        display: none;
    }
    .nav-right{
        width: 30%;
    }
    .btn-sales,.btn-free{
        display: none;
    }
    .both-btn{
        flex-direction: column;
        gap: 10px;
    }
    .email,.google-btn{
        width: 100%;
    }
    .video{
        width: 65%;
    }
    .sponsers{
        width: 60%;
    }
    .part5-btn{
        flex-direction: column;
    }
    .meet,.talk{
        width: 100%;
    }
    .part7-container{
        width: 100%;
        gap: 10px;
    }
    .part7-box1{
        width: 320px;
    }

    .curve h1 {
        font-size: 35px;
    }

   .curve-btn{
        width: 90%;
    }
    .curve-btn-free{
        width: 100%;
        margin-bottom: 20px;
    }
    .curve-btn-sales{
        width: 100%;
    }
    
    footer {
        width: 90%;
    }
    .footer{
        flex-direction: column;
    }


    .footer-left {
        width: 100%;
    }

    .footer ul li {
        margin-bottom: 20px;
        font-size: 12px;
    }
    .footer-right{
        width: 60%;
        margin-top: 30px;
    }
 

}