* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    list-style: none;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #f4ede4;
}

.nav-left {
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo {
    width: 110px;
    height: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

img {
    width: 100%;
}

.menu ul li {
    width: 100px;
    height: 30px;
    list-style: none;
    float: left;
    color: black;
}

.menu ul li a {
    font-size: 14px;
    color: black;
    font-weight: 600;
    line-height: 30px;
}

.menu ul li a:hover {
    border-bottom: 1px solid white;
    padding: 5px;
    padding: 0;
}

.sub-menu ul {
    padding-top: 10px;
    width: 160px;
    height: 180px;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 2;
    box-shadow: 12px 8px 2px 1px rgb(234, 228, 228);
}

.sub-menu ul li {
    background-color: white;
    padding-left: 9px;
    width: 100%;
}

.sub-menu ul li a {
    color: black;
    display: block;
    position: sticky;
}

.menu ul li:hover .sub-menu ul {
    display: block;
}

.sub-menu ul li:hover {
    background-color: #4285f4;
}
.sub-menu ul li:hover a{
    color: white;
}
.bar{
    font-size: 22px;
    color: white;
    display: none;
}
.flex{
    display: flex;
}


/* ----------------------- */
.nav-right {
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 35px;
    padding-right: 35px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.btn-sales {
    width: 150px;
    height: 50px;
    background: none;
    color: #541554;
    border: 1px solid #541554;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-free {
    width: 150px;
    height: 50px;
    background: #541554;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.in{
    color: black;
}
.lense{
    color:black;
}
.price-header{
    font-size: 3.5rem;
    text-align: center;
    padding:60px;
    background-color: #f4ede4;
}


/* --------------------------------------- */

.special-offer{
    padding-left: 30px;
    width: 100%;
    background-color: #1264a3;
    height: 60px;
    color: white;
    align-items: center;
}
.special-offer img{
    width: 38px;
    height: 30px;
    padding-right: 10px;
}

.special-offer p{
    font-size: 16px;
    font-weight: 600;
}

.category{
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.free{
    width: 22%;
    flex-direction: column;
    justify-content: space-between;
}
.free h1{
    margin-top: 40px;
    font-size: 2rem;
}
.free p{
    font-size: 18px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.price{
    font-size: 1.9rem;
    font-weight: 600;
}
.month{
    font-size: 1.6rem;
    font-weight: 200;
}
.cat-btn-free {
    margin-top: 20px;
    width: 260px;
    height: 70px;
    background:#541554;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
}
.list1{
    margin-top: 60px;
}
.free ul li{
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 20px;
}
.bottom{
    justify-content: center;
    margin: 40px;
}
.bottom a{
    color:#4564a3;
    text-align: center;
    font-size: 17px;
}
.bottom a:hover{
    border-bottom: 1px solid #4564a3;
}

.free ul li::before {
    content: '\2714\0020';
  }
.vertical-rule{
    border-left: 0.5px solid grey;
    margin: 30px 0;
}
.crossout{
    text-decoration: line-through;
    font-size: 1.9rem;
    margin-right: 5px;
}
.month-dotted{
    font-size: 1.6rem;
    font-weight: 200;
    border-bottom: 2px dotted black;
}
.free h4{
    margin-bottom: 40px;
}

/* ----------------- */
.curve {
    width: 100%;
    background-color: #541554;
    border-bottom-left-radius: 500px 30%;
    border-bottom-right-radius: 500px 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.curve h1 {
    padding-top: 30px;
    margin: 30px auto;
    width: 80%;
    font-size: 40px;
    color: white;
    text-align: center;
}
.curve-btn{
    width: 30%;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.curve-btn-sales {
    width: 160px;
    height: 40px;
    background: none;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
}

.curve-btn-free {
    width: 160px;
    height: 40px;
    background: white;
    color: #541554;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
/* -------------------------- */
.part8 {
    width: 100%;
    padding-top: 30px;
}

.part8-container {
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.part8-box1 {
    width: 15%;
}

.part8-logo {
    width: 40%;
}

.part8-box2 {
    width: 15%;
}

.part8-box2 ul li {
    padding-top: 25px;
}

.part8-box3 {
    width: 15%;
}

.part8-box3 ul li {
    padding-top: 25px;
}

.part8-box4 {
    width: 15%;
}

.part8-box4 ul li {
    padding-top: 25px;
}

.part8-box5 {
    width: 15%;
}

.part8-box5 ul li {
    padding-top: 25px;
}

.part8-box6 {
    width: 15%;
}

.part8-box6 ul li {
    padding-top: 25px;
}

/* ---------------------------- */
footer{
    width: 90%;
    margin: 0 auto;
}
.rule{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 75%;
}
.footer-right{
    width: 25%;
}

.footer-left ul {
    display: flex;
}

.footer ul li {
    margin-right: 20px;
    font-weight: 600;
    font-size: 14px;
}

footer p {
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 30px;
}

.media{
    display: flex;
    justify-content: space-between;
}

.download i{
    font-size: 15px;
    color: #4564a3;
}
.download span{
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    color: #4564a3;
    margin-right: 25px;
}

/* ------Mediaquery----------------------- */

@media screen and (min-width:425px) and(max-width:600px){

    .bar{
        display: block;
        color: black;
        margin-right: 20px;
    }
    .menu{
        display: none;
    }
 
    .btn-sales,.btn-free{
        display: none;
    }
    
    
    .body-part{
        margin-bottom: 20px;
    }

    .part1{
        width: 100%;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .mike{
        margin: 0 auto;
        width: 400px;
        height: 300px;
        position: relative;
        top: 0;
    }
    .part1-body{
        width: 80%;
    }

    .matter{
        width: 100%;
    }
    .box1{
        width: 450px;
        height: 180px;
    }

    .box2-a{
        width: 450px;
        height: 90px;
    }
    .pm-logo{
    width: 40px;
    height: 40px;
    }

.box2-a{
    padding: 10px;
}

    /* ---------------------------------- */

    .part2{
        margin: 0;
        padding: 0;
        flex-direction: column;
        margin-top: 180px;
    }
    .part2-body{
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
    }
    .coffee{
        position: relative;
        top: 0;
    }

    .text{
        width: 100%;
        margin: 10px;
    }
    .coffee{
        height: 250px;
    }
    
/* ---------------------------------- */
.part7{
    margin-top: 1800px;
}
    .part7-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .part7 h1 {
        font-size: 20px;
    }

    .part7-box1 {
        width: 200px;
    }


    .part7-box1:hover {
        width: 210px;
    }

    .curve h1 {
        font-size: 30px;
    }

   .curve-btn{
        width: 90%;
        flex-direction: column;
    }
    .curve-btn-free{
        width: 100%;
        margin-bottom: 20px;
    }
    .curve-btn-sales{
        width: 100%;
    }

    .part8-container {
        flex-wrap: wrap;
        width: 100%;
    }

    .part8-box1 {
        width: 100%;
    }

    .part8-logo {
        width: 13%;
        margin: 15px 15px;
    }

    .part8 h5 {
        font-size: 13px;
    }

    .part8 ul li {
        font-size: 13px;
    }

    footer {
        width: 90%;
    }
    .footer{
        flex-direction: column;
    }

    .footer ul {
        flex-direction: column;
    }

    .footer ul li {
        margin-bottom: 20px;
    }
    .footer-right{
        width: 90%;
        margin-top: 20px;
    }
}

